<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Quizzes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/logo-main.png" rel="icon">
  <link href="../assets/img/logo-main.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{url_for('index')}}" class="logo d-flex align-items-center">
        <img src="../assets/img/logo.png" alt="">
        <span>PhishSafe</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{{url_for('index')}}">Home</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('aboutus')}}">About</a></li>
          <li class="dropdown"><a href="{{url_for('services')}}"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{url_for('phishing')}}">Detecting Phishing</a></li>
              <li><a href="{{url_for('report')}}">Report Phishing</a></li>
              <li><a class="active" href="{{url_for('quizzes')}}">Quizzes</a></li>
              <li><a href="{{url_for('ev')}}">Educational Resources</a></li>
              <li><a href="{{url_for('blog')}}">Articles</a></li>
              <!-- <li><a href="../templates/esms.html">Email/SMS Spam Checker</a></li> -->
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{{url_for('team')}}">Team</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('blog')}}">Blog</a></li> 
          

          <li><a class="nav-link scrollto" href="{{url_for('contact')}}">Contact</a></li>
          <!-- <li><a class="getstarted scrollto" href="../templates/phishing.html">Get Started</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('services')}}">Services</a></li>
          <li><a href="{{url_for('quizzes')}}">Quizzes</a></li>
          <li><a href="{{url_for('quiz3')}}">Quiz 3</a></li>
        </ol>

      </div>
    </section><!-- End Breadcrumbs -->
<section class="quizzes" margin="0", padding="0", font-family="Poppins,sans-serif", box-sizing="border-box">
    <div class="app">
      <h2><b>Quiz 3</b></h2>
      <div class="quiz1">
        <h3 id="question">Question goes here</h3>
        <div id="answer-buttons">
          <button class="btn">Answer 1</button>
          <button class="btn">Answer 2</button>
          <button class="btn">Answer 3</button>
          <button class="btn">Answer 4</button>
        </div>
        <button id="next-btn">Next</button>
      </div>
    </div>
    <script src="../assets/js/script3.js"></script>
  </section>



  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{{url_for('index')}}" class="logo d-flex align-items-center">
              <img src="../assets/img/logo.png" alt="">
              <span>PhishSafe</span>
            </a>
            <p>
              Guarding Against Phishing Threats. Paste a link, and we'll tell you if it's safe to click, ensuring your online safety. Join us to browse, work, and connect with confidence.
            </p>
            <div class="social-links mt-3">
              <a target="_blank" href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
              <a target="_blank" href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a target="_blank" href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a target="_blank" href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('index')}}">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('aboutus')}}">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('services')}}">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('tos')}}">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('pp')}}">Privacy policy</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('contact')}}">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('phishing')}}">Detecting Phishing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('report')}}">Report Phishing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('quizzes')}}">Quizzes</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('ev')}}">Educational Resources</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('blog')}}">Articles</a></li>
              <!-- <li><i class="bi bi-chevron-right"></i> <a href="../templates/esms.html">Email/SMS Spam Checker</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              SVIT <br>
              Secunderabad, Telangana 500003<br>
              India<br><br>
              <strong>Phone:</strong>  +91 9701346267<br>
              <strong>Email:</strong> phishhsafe@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

  </footer> <!--End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>